body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
}

.main {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  margin: 0;
  background-color: antiquewhite;
  text-align: center;

}

a {
  text-decoration-line: underline;
  text-decoration: underline;
  color: black;
}

.bottombar {
  background-color: #333; /* Dark background color */
  color: white; /* White text color */
  text-align: center; /* Center text */
  padding: 20px 0; /* Padding top and bottom */
  position: relative; /* Ensure it stays within the normal flow */
  width: 100%; /* Full width */
  font-family: Arial, sans-serif; /* Font styling */
  font-size: 14px; /* Font size */
}
header {
  background-color: rgb(193, 230, 231);
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  justify-content: center;
}

footer {
  background-color: rgb(193, 230, 231);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.cards {
  background-color: azure;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.form {
    background-color: rgb(173, 205, 205);
    display: grid;
}

.creative {
  color: rgb(255, 0, 0);
}